#sidebarContainer{
  font-size: 24px;
}
.block {
  display: block !important;
  overflow: hidden !important;
  -webkit-transition: height .5s;
  transition: height .5s;
}
.btn{
  width: 100%;
  min-height: 5vh;
  font-size: 24px;
}

.accordion-panel .panel-body {
}
.panel-heading{

}

.redBackground{
  background-color: red;
}
.noRredBackkground{
  background-color: #f5f5f5;
}
.fa-chevron-down{
  color: #e60e00;
}
/*
* {
  padding: 0 !important;
}*/
