/* You can add global styles to this file, and also import other style files */
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body { }
